// bower:scss
// endbower

//variables & basic layout
//---------------------------------------------------------------------------------------
$grey: #333;
$highlight: #50E3D8; 

$desktop: 56.25em; /* 900px */
$tablet: 43.75em; /* 700 */

* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
  *behavior: url(../../assets/htc/boxsizing.htc);
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.leftCol {
  float: left;
  width: 50%;
}

.rightCol {
  float: right;
  width: 50%;
}

body {
  font-size: 100%;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", helvetica, arial, sans-serif;
  font-weight: 300;
  font-size-adjust: 0.5;
  color: $grey;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

//header
//---------------------------------------------------------------------------------------

header {
  font-size: 1em;
  line-height: 1.25; /* 20px */
  margin: 2em auto 0;
  max-width: 42em;
  text-align: center;

  h1 {
    font-weight: 100;
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
    /* 45px / 36px */
    margin-bottom: 0.25em;
  }

  @media (min-width: $tablet) {
    h1 {
      font-weight: 100;
      font-size: 2.5em;
      /* 2.5x body copy size = 40px */
      line-height: 1.125;
    }
  }

  //navigation 
  ul.nav-list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: -webkit-fit-content;
       width: -moz-fit-content;
            width: fit-content;
    
    @extend .clearfix;
    
    > li {
      float: left;
      padding: 0 1.5em 2em;

      &:last-child {
        a {
          margin-right: 0;
        }
      }
    }
    
    a {
      color: $highlight;
      text-decoration: none;
    }

    i {
      padding: 10px;
    }
  }
}

@media (min-width: $tablet) {
  header {
    font-size: 1em;
    line-height: 1.375; /* 22px */
    margin-top: 4em;
  }
}

//resume entry formatting
//---------------------------------------------------------------------------------------

article {
  font-size: 1em;
  line-height: 1.25; /* 20px */
  padding: 2em 1em;
  margin: 0 auto;
  max-width: 42em;

  h2 {
      font-weight: 400;
      font-size: 1.333em;
      /* 2.5x body copy size = 40px */
      line-height: 1.125;
      margin: 0;
  }

  .company {
  }

  .dateRange {
    color: $highlight;
    font-weight: 400;
    margin-top: 1.125em;
  }

  @media (min-width: $tablet) { 
    .dateRange {
      font-weight: 300;
      margin-top: 0;
    }

    .columns {
        -webkit-columns: 2;
        -moz-columns: 2;
        -ms-columns: 2;
        -o-columns: 2;
        columns: 2;
        -webkit-column-gap: 3.3898305%;
        -moz-column-gap: 3.3898305%;
        -ms-column-gap: 3.3898305%;
        -o-column-gap: 3.3898305%;
        column-gap: 3.3898305%;
    }

    .dateRange {
      float: right;
    }
  }

}

@media (min-width: $tablet) {
  article {
    font-size: 1em;
    line-height: 1.375; /* 22px */
  }
}

aside {
  background: rgb(80, 227, 216); /* Fall-back for browsers that don't support rgba */
  background: rgba(80, 227, 216, .15);
}